---
layout: base.njk
title: Jin Shan . Jin
---

<div class="posts">
    {% for post in collections.blog | reverse %}
        {% if post.url == "/agents/large-scale-agent-harness-design/"
            or post.url == "/blog/2026-05-25-toolcall-agent-noise/"
            or post.url == "/blog/2026-05-28-why-agent-protocol-runtime/"
            or post.url == "/blog/2026-05-25-toolcall-input-noise/"
            or post.url == "/blog/2026-05-22-agent-definition/"
            or post.url == "/blog/2026-05-19-skill-vs-agent/"
            or post.url == "/blog/2026-05-18-agent-system-design/"
            or post.url == "/blog/2026-05-14-droid-mission-mode/" %}
        <article class="post">
            <a href="{{ post.url }}" class="post-link">
                <p class="post-meta">{{ post.date | dateFormat }}</p>
                <h3 class="post-title">{{ post | displayTitle }}</h3>
            </a>
        </article>
        {% endif %}
    {% endfor %}
</div>
